[flake8]
ignore =
    E117,
    E121,
    E123,
    E125,
    E126,
    E127,
    E128,
    E203,
    E222,
    E225,
    E226,
    E231,
    E241,
    E251,
    E261,
    E265,
    E266,
    E302,
    E303,
    E305,
    E402,
    E501,
    E502,
    E741,
    W291,
    W292,
    W293,
    W391,
    W503,
    W504,
    F403,
    F811,
    F841,
    B007,
    B950,
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env, 
    census
max-line-length = 120